<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/normalize.css" rel="stylesheet" type="text/css"/>
        <link href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container d-flex justify-content-between align-items-center" style="background: url(../static/back-img.jpeg) no-repeat center / cover">
            <div class="group d-flex justify-content-between">
                <div>
                    <h1>Get started with mapping!</h1>
                    <div class="btn-wrap d-flex justify-content-between align-items-center">
                        <a href="{{ url_for('home') }}" class="home-link"><button class="start-btn">Get Started!</button></a>
                        <a href="{{ url_for('home') }}" class="home-link"><button class="start-btn">Start maping!</button></a>
                    </div>
                </div>
                <div class="text-wrap d-flex justify-content-center align-items-center">
                    <p class="text">Welcome to the world of unlimited learning and research! Enjoy the adventure, the discovery, the branching of ideas and the growth of your mind in ways you may not have imagined. Welcome to our mind mapping platform - your key map to learning and development!</p>
                </div>
            </div>
        </div>
    </body>
</html>
